<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Timestamper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Timestamper.Properties.Settings>
            <setting name="user_savekey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="user_hotkey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="user_modifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lastsaved_alt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastsaved_ctrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastsaved_shift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastsaved_win" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastsaved_textbox_userhotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="lastsaved_textbox_keyintvalue" serializeAs="String">
                <value />
            </setting>
            <setting name="lastsaved_textbox_modifier" serializeAs="String">
                <value />
            </setting>
        </Timestamper.Properties.Settings>
    </userSettings>
</configuration>